<?xml version="1.0"?>
<!--
 -
 - Licensed to the Apache Software Foundation (ASF) under one
 - or more contributor license agreements.  See the NOTICE file
 - distributed with this work for additional information
 - regarding copyright ownership.  The ASF licenses this file
 - to you under the Apache License, Version 2.0 (the
 - "License"); you may not use this file except in compliance
 - with the License.  You may obtain a copy of the License at
 -
 -   http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing,
 - software distributed under the License is distributed on an
 - "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 - KIND, either express or implied.  See the License for the
 - specific language governing permissions and limitations
 - under the License.
 -
 -->
<configuration scan="true" scanPeriod="10 seconds">
    <appender name="ArchivingFileAppender" class="ch.qos.logback.core.RollingFileAppender">
        <file>${QPID_WORK}/log/${logprefix}qpid${logsuffix}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${QPID_WORK}/log/${logprefix}qpid${logsuffix}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5p [%t] \(%c{2}\) - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${QPID_WORK}/log/${logprefix}qpid${logsuffix}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d %-5p [%t] \(%c{2}\) - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5p [%t] \(%c{2}\) - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.qpid" level="warn" additivity="true"/>
    <logger name="qpid.message" level="info" additivity="true"/>
    <logger name="qpid.message.subscription.state" level="off" additivity="true"/>
    <logger name="org.apache.qpid.server.queue.NotificationCheck" level="info" additivity="true"/>
    <logger name="org.apache.commons" level="warn"/>

    <root level="info">
        <appender-ref ref="FileAppender"/>
        <!--appender-ref ref="ArchivingFileAppender"/-->
    </root>
    <!-- General logging hierarchy --><!-- Operational logging hierarchy --><!-- Subscription state may toggle frequently for clients with low prefetch
    so switch off this operational logging by default--><!-- Enable log messages for the queue notifications --><!-- Set the commons logging that the XML parser uses to WARN, it is very chatty at debug --><!-- Log all info events to file -->
</configuration>
